@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#x-title {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  color: #083695;
  margin-bottom: 20px;
}

#logo {
  width: 100px;
  height: 100px;
  right: 0px;
  top: 0px;
  position: absolute;
}