#x-title {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: #083695;
}

#x-main-paragraph {
    margin-bottom: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 15px;
}

#x-title-span {
    display: inline-block;
}