#aboutText {
    margin-bottom: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 15px;
}

.director {
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
}

.secretar {
    width: 240px;
    height: 240px;
}